<div class="adv-background">
  <div class="adv main-centering">
    <div class="adv-btn">FREE SHIPPING!</div>
    <span class="adv-msg adv-msg-long">
      <span class="sep" *ngFor="let msg of adv_message_long">{{msg}}</span>
    </span>
    <span class="adv-msg adv-msg-short">{{ adv_message_short }}</span>
  </div>
</div>

<div class="nav main-centering">
  <img id="company-logo" [src]="company_logo">

  <hr class="division">
  <ul class="criteria">
    <li class="criteria-item" *ngFor="let criteria of criterias" (mouseover)="mouseOver(criteria)" 
      (mouseleave)="mouseOver('')" >
      {{ criteria }}
      <div class="fix-pos">
        <div class="tooltip" *ngIf="activate(criteria)"></div>
      </div>
      <app-filter-popover *ngIf="activate(criteria)" [filter_type]="criteria"></app-filter-popover>
    </li>
  </ul>  

  <div class="right-block">
    <div class="right-block--up">
      <a routerLink="/" class="account">SIGN IN</a>
      <a routerLink="/" class="account">REGISTER</a>
    </div>

    <div class="right-block--low ">
      <a routerLink="/" class="cart-container" (mouseover)="mouseOver('others')" (mouseleave)="mouseOver('')">
        <img [src]="cart_logo">
        <span class="cart-txt">Cart</span>
        <span class="cart-buy">{{cart.buy}}</span>
        <app-filter-popover *ngIf="activate('others')" [filter_type]="others"></app-filter-popover>
      </a>

      <div class="search-box">
        <form class="search-form">
          <img [src]="search_icon">
          <input type="text" name="search" placeholder="Search">
        </form>
      </div>
    </div>
  </div>

  <div class="button-array">
    <button id="cart-btn"></button>
    <button id="person-btn"></button>
    <button id="search-btn"></button>
  </div>

</div>






































