* {
  margin: 0;
  /* box-sizing: border-box; */
}

:root {
  --button-hover-color: #0a73d9;
}

.main-centering {
  max-width: 1137px;
  margin: 0 auto
}

a {
  text-decoration: none;
}

*:focus {
  outline: none;
}

body {
  /* overflow-x: hidden; */
}




