<div class="filter-container">
  <!-- switch to show differential display -->
  <div [ngSwitch]="filter.type">
    
    <div *ngSwitchCase="CRITERIA.collection">
      <div class="items-container">
        <a class="wrapper" *ngFor="let item of filter_items" routerLink="/">
            <img [src]="item.pic">
            <div class="filter-text">
              <div class="filter-title">{{item.title}}</div>
              <div class="filter-description">{{item.description}}</div>
            </div>
        </a>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div>
    
    <div *ngSwitchCase="CRITERIA.color">
      <div class="items-container">
        <div class="color-container" *ngFor="let item of filter_items">
          <div class="color-wrapper">
            <span class="color-description">{{item.description}}</span>
          </div>
        </div>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div>
  
  
    <div *ngSwitchCase="CRITERIA.width">
      <div class="items-container">
        <div class="wrapper" *ngFor="let item of filter_items">
          <img [src]="item.pic">
          <div class="filter-title">{{item.title}}</div>
          <div class="filter-description">{{item.description}}</div>
          <div class="filter-size">{{item.size}}</div>
        </div>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div> 

    <div *ngSwitchDefault class="base">
      <p>{{tooltip_text}}</p>
    </div>

  </div>  

</div>













