<div class="filter-container">
  <!-- switch to show differential display -->
  <div [ngSwitch]="filter.type">
    
    <div *ngSwitchCase="CRITERIA.collection">
      <div class="items-container">
        <div class="wrapper" *ngFor="let item of filter_items">
            <img [src]="item.pic">
            <span class="filter-title">{{item.title}}</span>
            <span class="filter-description">{{item.description}}</span>
        </div>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div>
    
    <div *ngSwitchCase="CRITERIA.color">
      <div class="items-container">
        <div class="wrapper" *ngFor="let item of filter_items">
          <div class="color-wrapper">
            <span class="filter-description">{{item.description}}</span>
          </div>
        </div>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div>
  
  
    <div *ngSwitchCase="CRITERIA.width">
      <div class="items-container">
        <div class="wrapper" *ngFor="let item of filter_items">
          <img [src]="item.pic">
          <span class="filter-title">{{item.title}}</span>
          <span class="filter-description">{{item.description}}</span>
          <span class="filter-size">{{item.size}}</span>
        </div>
      </div>
      <button class="button">Browse All {{filter.showMore}}</button>
    </div> 

  </div>  

</div>













